In [1]:
%matplotlib inline
from query.scripts.script_util import *

In [14]:
gender_counts = Gender.objects.annotate(count=Count('tvnews_face')).values()
pd.DataFrame(list(gender_counts))

    count  id     name
0  410663   1     male
1  338361   2   female
2   12067   3  unknown

In [22]:
gender_frames = Gender.objects.annotate(count=Count('tvnews_face__faceinstance__frame')).values()
pd.DataFrame(list(gender_frames))

    count  id     name
0    9812   2   female
1    8217   1     male
2  235286   3  unknown